/*************** footer section start *****************/
.widget {
    position: relative;
}

.gm_widget_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.gm_about_widget {
    position: relative;

    & p {
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;

        @include large-screen {
            font-size: 16px;
            line-height: 25px;
        }
    }
}

.gm_widget_nav {
    & li a {
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        color: var(--text-color);
        position: relative;

        @include large-screen {
            font-size: 16px;
            line-height: 25px;
        }

        &::before {
            position: absolute;
            content: "/";
            left: 0;
            top: -2px;
            color: var(--secondary-color);
            font-size: 16px;
            opacity: 0;
            transition: 0.2s all;
        }

        &:hover {
            color: var(--secondary-color);
            padding-left: 10px;

            &::before {
                opacity: 1;
                color: inherit;
            }
        }

    }

    & li:not(:last-child) {
        margin-bottom: 24px;
    }
}

.gm_singleAddress {
    position: relative;
    margin-bottom: 24px;

    & a {
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        color: var(--text-color);

        @include large-screen {
            font-size: 16px;
            line-height: 25px;
        }

        &:hover {
            color: var(--secondary-color);
        }
    }

    &.tel {
        & a {
            color: var(--primary-color);
            font-weight: 600;

            &:hover {
                color: var(--secondary-color);
            }
        }
    }
}

.mainWidget {
    margin-bottom: 136px;

    @include large-screen {
        margin-bottom: 100px;
    }

    & [class^="col-"]:nth-child(1) {
        @include screen-992 {
            width: 40%;
        }

        @include portrait-phone {
            width: 100%;
        }
    }

    & [class^="col-"]:nth-child(2) {
        width: 16%;

        @include screen-992 {
            width: 30%;
        }

        @include portrait-phone {
            width: 100%;
        }
    }

    & [class^="col-"]:nth-child(3) {
        width: 14.3%;

        @include screen-992 {
            width: 30%;
        }

        @include portrait-phone {
            width: 100%;
        }
    }

    & [class^="col-"]:nth-child(4) {
        width: 19%;

        @include screen-992 {
            width: 30%;
        }

        @include screen-768 {
            width: 40%;
        }

        @include portrait-phone {
            width: 100%;
        }
    }

    & [class^="col-"]:nth-child(5) {
        width: 25.7%;

        @include screen-992 {
            width: 40%;
        }

        @include portrait-phone {
            width: 100%;
        }
    }
}

.gm_footerBtm_wrap {
    position: relative;
    @include displayFlex(flex, space-between, center, row);
    background: var(--color-shade-background);
    padding: 18px 24px 19px;

    @include screen-768 {
        flex-direction: column-reverse;
        gap: 20px;
    }

    & .gm_footerPaymets {
        & label {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: var(--color-heading);
            text-transform: capitalize;
        }

        position: relative;
        @include displayFlex(flex, space-between, center, row);
        gap: 16px;

        & .gm_fPayments {
            @include displayFlex(flex, space-between, center, row);
            gap: 16px;

            & a {
                position: relative;
                display: inline-block;

                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}

.gm_footer_social {
    @include displayFlex(flex, start, center, row);
    gap: 32px;

    @include large-screen {
        gap: 24px;
    }

    & label {
        font-size: 18px;
        font-weight: 700;
        line-height: 25.2px;
        letter-spacing: 0.05em;
        color: var(--color-heading);
    }

    & ul {
        @include displayFlex(flex, start, center, row);
        gap: 24px;

        li a {
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            color: var(--primary-color);
            text-transform: uppercase;
            position: relative;

            @include large-screen {
                font-size: 16px;
                line-height: 27px;
            }

            &:hover {
                color: var(--secondary-color);
            }

            &:after {
                position: absolute;
                content: "";
                width: 1px;
                height: 13px;
                right: -13px;
                top: 5.5px;
                background: rgba(3, 21, 32, .2)
            }
        }

        li:last-child a {
            &::after {
                display: none;
            }
        }
    }
}

.gm_coppyright {
    padding: 16px;

    & p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: var(--text-color);
        margin: 0;

        @include screen-768 {
            text-align: center;
        }
    }
}


/**************** footer style 2 ****************/
.mainWidget_ft02 {
    margin-bottom: 136px;

    @include large-screen {
        margin-bottom: 100px;
    }

    & [class^="col-"]:nth-child(1) {
        width: 31.4%;

        @include large-screen {
            width: 32.4%;
        }

        @include screen-992 {
            width: 44.4%;
        }

        @include screen-768 {
            width: 60%;
        }

        @include portrait-phone {
            width: 100%;
        }
    }

    & [class^="col-"]:nth-child(2) {
        width: 26.7%;

        @include large-screen {
            width: 23.7%;
        }

        @include screen-992 {
            width: 30.7%;
        }

        @include screen-768 {
            width: 40%;
        }

        @include portrait-phone {
            width: 100%;
        }
    }

    & [class^="col-"]:nth-child(3) {
        @include screen-992 {
            width: 24.9%;
        }

        @include screen-768 {
            width: 40%;
        }

        @include portrait-phone {
            width: 100%;
        }

    }

    & [class^="col-"]:nth-child(4) {
        width: 25.235%;

        @include large-screen {
            width: 27.235%;
        }

        @include screen-992 {
            width: 44%;
        }

        @include screen-768 {
            width: 60%;
        }

        @include portrait-phone {
            width: 100%;
        }

    }


}

.gm_footerBtm_wrap02 {
    padding: 19px 0;
    border-top: 1px solid rgba(3, 21, 32, .1);

    @include screen-992 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        flex-direction: column-reverse;
    }
}

.gm_about_widget02 {
    & .addressContent {
        margin-bottom: 2px;

    }

    & .addressContent .gm_singleAddress:not(:last-child) {
        margin-bottom: 16px;
    }
}

.gm_subscribe_widget {
    position: relative;

    & .subsCribe-form {
        & .emailIntpu {
            width: calc(100% - 56px);
            border-bottom: 1px solid rgba(3, 21, 32, .1);
            margin-right: 8px;

            & svg {
                fill: var(--text-color);
                top: 21px;
                left: 1px;

                & path {
                    stroke: var(--text-color);
                    fill: var(--text-color);
                    stroke-width: .05px;
                }
            }
        }

        & input[type="email"] {
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.2);
            padding: 14px 0 13px 28px;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            width: 100%;
            color: var(--text-color);

            &::placeholder {
                color: var(--text-color);
            }
        }

        & button[type="submit"] {
            color: var(--white-color);
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0.05em;
            padding: 10px;
            border: unset;
            position: relative;
            text-transform: uppercase;
            min-width: 56px;
            transition: var(--transition-base);

            & span {
                width: 56px;
                height: 56px;
            }

            &:hover {
                & span {
                    background: var(--primary-bg-color);
                }
            }
        }
    }
}

.gm_footer_02 .gm_subscribe_widget {
    & input[type="email"] {
        background: transparent;
    }

    & button[type="submit"] {
        background: var(--secondary-color);
        & span{
            background: transparent;
        }
        &:hover{
            background: var(--primary-bg-color);
            & span{
                background: transparent;
            }
        }
    }
}