/*========================/ Hero Section 01 /=========================== */
.gm_hero_section {
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;
        content: "";
        width: 50%;
        height: 100%;
        left: auto;
        top: 0;
        right: 0;
        background: url(../images/hero/hero1-image-1.jpg)no-repeat 0 0 / cover;
        z-index: -1;

        @include screen-992 {
            display: none;
        }
    }
}


.gm_hero_content {
    position: relative;
    padding: 132px 0 133px;
    z-index: 5;

    @include screen-992 {
        padding: 132px 0 0;
        max-width: 620px;
    }

    @include portrait-phone {
        padding: 100px 0 0;
    }

    & h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 31px;
        text-align: left;
        color: var(--color-yellow);
        margin-bottom: 8px;
        text-transform: uppercase;

        @include portrait-phone {
            font-size: 20px;
            line-height: 27px;
        }
    }

    & h2 {
        font-size: 96px;
        font-weight: 600;
        line-height: 115px;
        text-align: left;
        color: var(--white-color);
        margin-bottom: 32px;
        text-transform: uppercase;

        @include screen-1320 {
            font-size: 86px;
            line-height: 105px;
        }

        @include large-screen {
            font-size: 70px;
            line-height: 89px;
        }

        @include screen-992 {
            font-size: 60px;
            line-height: 71px;
        }

        @include portrait-phone {
            font-size: 52px;
            line-height: 63px;
        }
    }

    & p {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        color: rgba(255, 255, 255, .7);
        margin-bottom: 56px;
    }

    & .gm_primary-btn {
        &:hover {
            .gm_btn_text {
                color: var(--color-primary-button-hover);

                &>svg {
                    fill: var(--color-primary-button-hover);
                    & path{
                        fill: var(--color-primary-button-hover); 
                    }
                }
            }
        }

        & .gm_btnShape {
            background: var(--color-primary-button-text);
        }
    }
}

.gm_heroR_pdImg {
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 50%;
    border: 8px solid var(--primary-bg-color);
    background: #FFC7A7;
    @include displayFlex(flex, center, center, column);
    margin-left: -102px;
    z-index: 3;

    @include screen-992 {
        margin-top: -30px;
        margin-right: 9%;
        margin-left: auto;
    }

    @include portrait-phone {
        border-color: rgba(3, 21, 32, .8);
    }
}

/*========================/ Hero section 02 /=========================== */
.gm_hero_section02 {
    position: relative;
    background: var(--color-shade-background);
    padding-top: 96px;
    z-index: 2;
    overflow: hidden;

    &::after {
        position: absolute;
        content: "";
        width: 32px;
        height: 32px;
        background: transparent;
        border: 6.5px solid rgba(255, 88, 36, 0.3);
        left: 44px;
        bottom: 45px;
        border-radius: 50%;
    }
}

.gm_hero2_shape {
    position: absolute;
    bottom: 65px;
    right: 7%;
    z-index: -1;

    @include large-screen {
        right: 2%;
    }

    @include screenUp-1600 {
        right: 13.5%;
    }

    & img {
        max-width: 100%;
        width: auto;

    }
}

.gm_hero3R_pdImg {
    position: relative;

    @include large-screen {
        text-align: center;
    }

    & img {
        max-width: 100%;
        clip-path: polygon(50% 0%, 100% 39%, 82.5% 100%, 17.5% 100%, 0% 39%);
    }


}

.gm_hero_content_02 {
    position: relative;
    padding: 0 0 96px;

    & h4 {
        font-family: var(--body-font);
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        color: var(--secondary-color);
        margin: 0;
    }

    & h2 {
        font-size: 96px;
        font-weight: 600;
        line-height: 115px;
        margin-bottom: 56px;
        text-transform: uppercase;

        @include large-screen {
            font-size: 75px;
            line-height: 94px;
            margin-bottom: 46px;
        }

        @include screen-768 {
            font-size: 70px;
            line-height: 89px;
        }

        @include screen-460 {
            font-size: 56px;
            line-height: 68px;
        }
    }

    & [class^="col-"]:nth-child(1) {
        width: 235px;

        @include screen-460 {
            width: 100%;
            margin-bottom: 25px;
        }
    }

    & [class^="col-"]:nth-child(2) {
        width: calc(100% - 235px);

        @include screen-460 {
            width: 100%;
        }

        &>* {
            margin-left: 10px;
        }
    }

    & p {
        max-width: 315px;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        margin-bottom: 32px;

        @include large-screen {
            font-size: 17px;
            line-height: 27px;
            margin-bottom: 24px;
        }

        @include screen-460 {
            max-width: 100%;
            width: 100%;
        }
    }
}

.gm_hero_review {
    max-width: 205px;
    width: 100%;
    background-color: var(--color-background);
    padding: 24px;
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.05);
    text-align: center;

    & h3 {
        font-size: 56px;
        font-weight: 600;
        line-height: 73px;
        margin: 0;
    }

    & .gm_hero_review_text {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 32px;
        margin: 0;
    }

    & .star-rating {
        position: relative;
        @include displayFlex(inline-flex, start, center, row);
        gap: 2px;
        margin-bottom: 8px;

        & svg {
            fill: var(--secondary-color);
            width: 20px;
            height: 20px;
        }

        & p {
            overflow: hidden;
            top: 0;
            left: 0;
            position: absolute;
            width: 91%;
            height: 100%;

            & .fillSvg {
                min-width: 108px;
                @include displayFlex(inline-flex, start, center, row);
                top: 0;
                left: 0;
                position: absolute;
                gap: 2px;
                flex-wrap: nowrap;
                fill: var(--secondary-color);
            }

            & svg {
                fill: var(--secondary-color);
                width: 20px;
                height: 20px;

                & path {
                    fill: var(--secondary-color);
                }
            }
        }

    }

}


/*========================/ Hero section 03 /=========================== */
.gm_hero_section03 {
    min-height: 720px;
    background-attachment: scroll;

    @include screen-992 {
        background-size: auto;
        background-position: bottom right 14%;
    }
}

.gm_hero_content_03 {
    position: relative;

    @include screen-992 {
        padding: 100px 0 60px;
        max-width: 620px;
    }

    & h2 {
        font-size: 96px;
        font-weight: 600;
        line-height: 115px;
        text-transform: uppercase;
        margin-bottom: 32px;

        @include large-screen {
            font-size: 70px;
            line-height: 81px;
        }

        @include screen-992 {
            font-size: 60px;
            line-height: 71px;
        }

        @include portrait-phone {
            font-size: 52px;
            line-height: 63px;
        }
    }

    & p {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 64px;
    }
}



// Right content 
.gm_heroRcol_03 {
    position: relative;
    padding-top: 200px;
}

.gm_hero_thumb_03 {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;

    & img {
        margin-top: -9px;
        margin-left: 5px;

        @include portrait-phone {
            margin-left: -37px;
        }
    }
}

.gm_hero_right_content_03 {
    @include displayFlex(flex, center, start, column);
    gap: 11px;
    position: relative;
    z-index: 3;
    margin-bottom: 45px;

    & i {
        font-size: 16px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: var(--color-background);
        @include displayFlex(flex, center, center, row);
        box-shadow: var(--color-shadow);
        margin-left: 57px;
        cursor: pointer;
    }

    &.gm_nthChild2 {
        margin-left: 338px;

        @include large-screen {
            margin-left: 220px;
        }

        @include screen-992 {
            margin-left: 338px;
        }

        @include portrait-phone {
            margin-left: 120px;
        }
    }

    &.gm_nthChild3 {
        margin-left: 110px;
        margin-top: 65px;

        & .gm_hreoR_cnt_pdt {
            order: -1;
        }

        @include portrait-phone {
            margin-left: 40px;
        }
    }
}

.gm_hreoR_cnt_pdt {
    @include displayFlex(inline-flex, start, start, column);
    padding: 10px 10px 10px 70px;
    box-shadow: var(--color-shadow);
    position: relative;
    background: var(--color-background);
    min-width: 202px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s, opacity 0.2s;

    & img {
        width: 52px;
        height: 52px;
        position: absolute;
        left: 10px;
        top: 10px;
    }

    & h4 {
        font-family: var(--body-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 4px;
    }

    & .gm_pd_price {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: var(--text-color);
    }

    &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}