// Icon Box 01 
.gm_iconbox01 {
    position: relative;
    background-color: rgba(255, 255, 255, .10);
    padding: 32px;
    margin: 0;

    @include screen-1400 {
        padding: 26px;
    }

    &__content {
        position: relative;

        h3 {
            font-size: 24px;
            font-weight: 600;
            line-height: 31px;
            color: var(--white-color);
            text-transform: uppercase;
            margin-bottom: 4px;

            @include screen-1400 {
                font-size: 20px;
                line-height: 27px;
            }

            @include large-screen {
                font-size: 18px;
                line-height: 25px;
            }
        }

        p {
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            color: var(--white-color);
            margin: 0;

            @include screen-1400 {
                font-size: 16px;
                line-height: 25px;
            }

            @include large-screen {
                font-size: 15px;
                line-height: 24px;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 32px;
        width: 64px;
        height: 64px;
        @include displayFlex(inline-flex, center, center, column);
        background-color: var(--color-yellow);

        @include screen-1400 {
            width: 54px;
            height: 54px;
            left: 24px;
        }
    }
}

.gm_iconbox01.gm_icon-left {
    padding-left: 128px;

    @include screen-1400 {
        padding-left: 100px;
    }

    .gm_iconbox01__content {
        text-align: left;
    }

    .gm_iconbox01__icon {
        left: 32px;
        right: auto;

        @include screen-1400 {
            left: 26px;
        }
    }
}

.gm_iconbox01.gm_icon-right {
    padding-right: 128px;

    @include screen-1400 {
        padding-right: 100px;
    }

    .gm_iconbox01__content {
        text-align: right;
    }

    .gm_iconbox01__icon {
        right: 32px;
        left: auto;

        @include screen-1400 {
            right: 26px;
        }
    }
}

// Icon Box 02 
.gm_iconbox02 {
    position: relative;
    background-color: var(--color-background);
    padding: 0;
    margin: 0;

    &__content {
        position: relative;

        h3 {
            font-size: 24px;
            font-weight: 600;
            line-height: 31px;
            text-transform: uppercase;
            margin-bottom: 8px;

            @include screen-1400 {
                font-size: 20px;
                line-height: 27px;
            }
        }

        p {
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            margin: 0;

            @include screen-1400 {
                font-size: 16px;
                line-height: 25px;
            }
        }
    }

    &__icon {
        width: 64px;
        height: 64px;
        @include displayFlex(inline-flex, center, center, column);
        background-color: rgba(255, 88, 36, .1);
        margin-bottom: 24px;

        @include screen-1400 {
            width: 54px;
            height: 54px;
        }
    }
}

.gm_iconbox02.gm_icon-left {

    .gm_iconbox02__content {
        text-align: left;
    }

    .gm_iconbox02__icon {
        text-align: left;
    }
}

.gm_iconbox02.gm_icon-center {
    text-align: center;

    .gm_iconbox02__content {
        text-align: center;
    }

    .gm_iconbox02__icon {
        text-align: center;
    }
}

.gm_iconbox02.gm_icon-right {
    text-align: right;

    .gm_iconbox02__content {
        text-align: right;
    }

    .gm_iconbox02__icon {
        text-align: right;
    }
}

// Icon Box 03 
.gm_iconbox03 {
    padding: 111px 48px 112px;
    background: var(--color-shade-background);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    transition: var(--transition-base);

    @include large-screen {
        padding: 75px 40px 75px;
    }

    @include screen-992 {
        padding: 85px 40px 105px;
    }

    @include screen-768 {
        max-width: 380px;
        margin: 0 auto;
    }

    &__icon {
        width: 120px;
        height: 138px;
        background: var(--color-background);
        @include displayFlex(flex, center, center, column);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        margin: 0 auto;
        margin-bottom: 40px;
        box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.04);
        position: relative;
        z-index: 2;

        @include large-screen {
            margin-bottom: 20px;
        }

        & i {
            color: var(--secondary-color);
            position: relative;
            z-index: 5;
        }

        & svg {
            fill: var(--secondary-color);
            position: relative;
            z-index: 5;

            & path {
                fill: var(--secondary-color);
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/home2/icon-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            z-index: -1;
            opacity: 0.3;
        }

    }

    &__content {
        & h3 {
            font-size: 32px;
            font-weight: 600;
            line-height: 42px;
            margin-bottom: 4px;
            text-transform: uppercase;
            transform: var(--transition-base);

            @include large-screen {
                font-size: 28px;
                line-height: 38px;
            }

            & a {
                color: inherit;
                font-size: inherit;

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }

        & p {
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            text-align: center;
            margin: 0;
            color: var(--text-color);
            transition: var(--transition-base);
        }
    }

    &:hover {
        background: var(--secondary-color);

        & .gm_iconbox03__icon {
            background: rgba(255, 255, 255, 0.15);
            border-color: rgba(255, 255, 255, 0.3);

            & svg {
                fill: var(--white-color);

                & path {
                    fill: var(--white-color);
                }
            }
        }

        & .gm_iconbox03__content {
            h3 {
                color: var(--white-color);

                & a:hover {
                    color: var(--primary-color);
                }
            }

            p {
                color: var(--white-color);
            }
        }
    }
}