.gm_followUs_instagram {
    position: relative;
    padding: 30px 15px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;

    @include large-screen {
        padding: 30px 4px;
    }

    & .gx-30,
    & .g-30 {
        @include large-screen {
            --bs-gutter-x: 16px;
        }
    }

    & .g-30 {
        @include large-screen {
            --bs-gutter-y: 16px;
        }
    }
}

.gm_inst_smCol {
    width: 29%;

    @include screen-768 {
        width: 50%;
    }
    @include portrait-phone{
        width: 100%;
    }
}

.gm_instagram_banner {
    padding: 40px;
    background-color: var(--secondary-color);
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    width: 40.098%;
    @include displayFlex(flex, center, center, column);
    z-index: 2;

    @include screen-1600 {
        width: 39.822%;
    }

    @include screen-1400 {
        width: 39.68%;
    }

    @include screen-1320 {
        width: 39.45%;
    }

    @include large-screen {
        width: 40.324%;
        margin-left: 8px;
        margin-right: 8px;
    }

    @include screen-992 {
        width: 39.81%;
    }

    @include screen-768 {
        width: calc(100% - 16px);
        order: -1;
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 16px
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url(../images/shapes/instagrem-shape.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top 15px right 14px;
        top: 0;
        right: 0;
    }

    & h4 {
        font-size: 40px;
        line-height: 52px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--white-color);
        margin: 0;

        @include screen-992 {

            font-size: 32px;
            line-height: 44px;
        }
    }

    & h2 {
        font-size: 96px;
        line-height: 115px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--white-color);
        margin: 0;

        @include large-screen {
            font-size: 70px;
            line-height: 89px;
        }

        @include screen-992 {
            font-size: 54px;
            line-height: 73px;
        }
    }
}

.gm_inst_social {
    display: block;
    position: relative;
    z-index: 3;
    overflow: hidden;

    &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(3, 21, 32, 0.7);
        z-index: 0;
        transition: 0.3s all;
        transform: scale(0);
        border-radius: inherit;
    }

    & img {
        max-width: 100%;
        width: 100%;
        transition: transform 0.4s ease;
    }

    & i {
        position: absolute;
        font-size: 30px;
        color: var(--secondary-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
        transition: 0.3s all;
    }

    &:hover {
        &::after {
            transform: scale(1);
        }

        & i {
            opacity: 1;
        }
        & img{
            transform: scale(1.07) rotate(3deg);
        }
    }
}