// Trending Product 
.gm_trendingItems {
    position: relative;
}

.gm_pd02Actions {
    position: relative;
    @include displayFlex(inline-flex, center, center, row);
    gap: 8px;

    & a {
        height: 48px;
        @include displayFlex(inline-flex, center, center, row);
        gap: 8px;
        line-height: 48px;
    }

    & .pd01Cart {
        padding: 0 20px;
        background: var(--secondary-color);
        font-size: 18px;
        font-weight: 700;
        line-height: 25.2px;
        letter-spacing: 0.05em;
        color: var(--white-color);
        text-transform: uppercase;

        @include large-screen {
            font-size: 16px;
        }

        &:hover {
            background: var(--primary-color);
        }
    }

    & .pd01Wishlist {
        width: 48px;
        padding: 0;
        background: var(--primary-color);
        color: var(--white-color);

        &:hover {
            background: var(--secondary-color);
        }
    }

    & .pd01QuickView {
        width: 48px;
        padding: 0;
        background: var(--primary-color);
        color: var(--white-color);

        &:hover {
            background: var(--secondary-color);
        }
    }
}

// Items 01 
.gm_trendingItem {
    padding: 15px 16px;
    background: var(--color-background);
    @include displayFlex(flex, start, center, row);
    gap: 20px;
    border: 1px solid var(--color-border);

    &__thumb {
        flex: 0 0 auto;
        width: 132px;
        height: 150px;
        background: var(--color-shade-background);
        padding: 10px;
        @include displayFlex(flex, center, center, column);

        & img {
            max-width: 100%;
            width: auto;
            max-height: 100%;
            height: auto;
            transition: opacity 0.5s ease-in-out;
        }

        & img:nth-child(2) {
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
    }

    &__meta {
        & a {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--text-color);
            margin-bottom: 2px;

            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    & h2 {
        font-family: var(--body-font);
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
        margin-bottom: 6px;

        & a {
            color: inherit;
            font-size: inherit;

            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    &__price {
        @include displayFlex(flex, space-between, center, row);
        position: relative;
    }

    & .gm_pi01Price {
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
        color: var(--color-heading);
        @include displayFlex(flex, space-between, center, row);

        & ins {
            margin-right: 8px;
            text-decoration: none;
        }

        & del {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--text-color);
        }
    }

    & .gm_trending_cart {
        width: 40px;
        height: 40px;
        background: var(--color-shade-background);
        @include displayFlex(flex, center, center, column);
        border: 1px solid var(--color-border);
        transition: 0.3s all;

        & svg {
            transition: 0.3s all;
        }

        &:hover {
            background: var(--secondary-color);
            border-color: var(--secondary-color);

            svg {
                fill: var(--white-color);

                path {
                    stroke: var(--white-color);
                    fill: var(--white-color);
                    stroke-width: .2px;
                }
            }
        }
    }

    &:hover {
        & img:nth-child(1) {
            opacity: 0;
            visibility: hidden;
        }

        & img:nth-child(2) {
            opacity: 1;
            visibility: visible;
        }
    }
}

// Items 02
.gm_trendingItem_two {
    position: relative;
    background: var(--color-shade-background);
    border: 4px solid var(--color-shade-background);

    & .gm_trendingItem__thumb {
        position: relative;
        flex: 0 0 auto;
        width: 100%;
        min-height: 330px;
        background: var(--color-background);
        padding: 0;
        @include displayFlex(flex, center, center, column);
        overflow: hidden;

        & img {
            max-width: 100%;
            width: auto;
            max-height: 100%;
            height: auto;
            transition: opacity 0.4s ease-in-out;
        }
    }

    .gm_pd02Actions {
        position: absolute;
        opacity: 0;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        transition: 0.3s all;
    }

    & .gm_trendingItem__centent {
        padding: 16px 8px 12px;
        background: var(--color-shade-background);
    }

    & h2 {
        font-family: var(--body-font);
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 16px;

        & a {
            color: inherit;
            font-size: inherit;

            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    & .gm_trendingItem__price {
        @include displayFlex(flex, space-between, center, row);
        position: relative;
    }

    & .gm_pi01Price {
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
        color: #0D0D0D;
        @include displayFlex(flex, space-between, center, row);

        & ins {
            margin-right: 8px;
            text-decoration: none;
        }

        & del {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: #6B6B6B;
        }
    }

    & .gm_trending_cart {
        width: 40px;
        height: 40px;
        background: var(--color-shade-background);
        @include displayFlex(flex, center, center, column);
        border: 1px solid var(--color-border);
        transition: 0.3s all;

        & svg {
            transition: 0.3s all;
        }

        &:hover {
            background: var(--secondary-color);
            border-color: var(--secondary-color);

            svg {
                fill: var(--white-color);

                path {
                    stroke: var(--white-color);
                    fill: var(--white-color);
                    stroke-width: .2px;
                }
            }
        }
    }

    &:hover {
        & .gm_pd02Actions {
            opacity: 1;
            bottom: 4px;
        }
        & .gm_trendingItem__thumb{
            & img:nth-child(1){ opacity: 0;visibility: hidden;}
            & img:nth-child(2){opacity: 1; visibility: visible;}
        }
    }
}

// Items 03
.gm_trendingItem_03 {
    position: relative;

    &__thumb {
        max-width: 100%;
        min-height: 340px;
        background: var(--color-background);
        @include displayFlex(flex, center, center, column);
        position: relative;
        overflow: hidden;

        & img {
            max-width: 264px;
            width: auto;
            object-fit: cover;
            max-height: 264px;
            height: auto;
            transition: opacity 0.5s ease-in-out;
        }

        & img:nth-child(2) {
            position: absolute;
            opacity: 0;
            visibility: hidden
        }
    }

    &__centent {
        padding: 16px 0 0;

        & h2 {
            font-family: var(--body-font);
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            text-align: left;
            margin-bottom: 6px;
            padding-right: 45px;

            & a {
                color: inherit;
                font-family: inherit;

                &:hover {
                    color: var(--secondary-color);
                }
            }

        }
    }

    &__price {
        @include displayFlex(flex, space-between, center, row);

        & .gm_pi03Price {
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            text-align: left;
            color: var(--color-heading);
            @include displayFlex(inline-flex, space-between, center, row);

            & ins {
                margin-right: 8px;
                text-decoration: none;
            }

            & del {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                text-align: left;
                color: var(--text-color);
            }
        }

        & .gm_trending_cart {
            width: 40px;
            height: 40px;
            background: var(--color-background);
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
            @include displayFlex(flex, center, center, column);
            margin-top: -12px;

            &:hover {
                background: var(--secondary-color);

                & i {
                    color: var(--white-color);
                }

                & svg {
                    fill: var(--white-color);

                    & path {
                        fill: var(--white-color);
                    }
                }
            }
        }
    }

    &__meta {
        & a {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--secondary-color);
            display: inline-block;

            &:hover {
                color: var(--color-heading);
            }
        }
    }

    &__review {
        @include displayFlex(flex, space-between, center, row);
        gap: 20px;
        margin-bottom: 2px;
    }

    & .star-rating {
        position: relative;
        @include displayFlex(inline-flex, start, center, row);
        gap: 1px;

        & svg {
            fill: var(--color-yellow);
            width: 19px;
            height: 18px;
        }

        & p {
            overflow: hidden;
            top: 0;
            left: 0;
            position: absolute;
            width: 91%;
            height: 100%;

            & .fillSvg {
                min-width: 108px;
                @include displayFlex(inline-flex, start, center, row);
                top: 0;
                left: 0;
                position: absolute;
                gap: 1px;
                flex-wrap: nowrap;
                fill: var(--color-yellow);
            }

            & svg {
                width: 20px;
                fill: var(--color-yellow);
                width: 19px;
                height: 18px;

                & path {
                    fill: var(--color-yellow);
                }
            }
        }

    }

    &:hover{
        & img:nth-child(1){
            opacity: 0;
            visibility: visible;
        }
        & img:nth-child(2){
            opacity: 1;
            visibility: visible;
        }
    }
}

.gm_pd03Actions {
    position: absolute;
    top: -10px;
    right: 10px;
    @include displayFlex(inline-flex, start, center, column);
    gap: 8px;
    transition: 0.3s all;

    & a {
        width: 40px;
        height: 40px;
        @include displayFlex(flex, center, center, column);
        background: var(--primary-color);
        opacity: 0;
        visibility: hidden;

        & i {
            font-size: 17px;
            color: var(--white-color);
        }

        & svg {
            fill: var(--white-color);

            & path {
                fill: var(--white-color);
                stroke-width: 0.2px;
                stroke: var(--white-color);
            }
        }

        &:hover {
            background: var(--secondary-color);
        }
    }
}

.gm_trendingItem_03:hover {
    & .gm_pd03Actions {
        top: 10px;

        & a {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);
        }
    }
}

// Items offer 
.gm_trendingItem_offer {
    padding: 15px 16px;
    background: var(--color-background);
    @include displayFlex(flex, start, center, row);
    gap: 32px;
    border: 1px solid var(--white-color);
    transition: var(--transition-base);

    @include screen-1200-to-1320 {
        gap: 20px;
    }

    @include screen-992-to-1199 {
        gap: 16px;
    }

    @include screen-768 {
        gap: 20px;
    }

    @include screen-460 {
        gap: 30px;
        flex-direction: column;
    }

    &__thumb {
        flex: 0 0 auto;
        width: 220px;
        height: 264px;
        background: var(--color-shade-background);
        padding: 10px;
        @include displayFlex(flex, center, center, column);

        @include screen-1200-to-1320 {
            width: 200px;
        }

        @include screen-992-to-1199 {
            width: 190px;
        }

        @include screen-768 {
            width: 200px;
        }

        @include screen-460 {
            width: 100%;
        }

        & img {
            max-width: 100%;
            width: auto;
            max-height: 100%;
            height: auto;
            transition: opacity 0.6s ease-in-out;
        }

        & img:nth-child(2) {
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
    }

    &__meta {
        & a {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--secondary-color);
            margin-bottom: 2px;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    & h2 {
        font-family: var(--body-font);
        font-size: 32px;
        font-weight: 600;
        line-height: 42px;
        text-align: left;
        margin-bottom: 12px;
        text-transform: uppercase;

        @include screen-1200-to-1320 {
            font-size: 28px;
            line-height: 38px;
        }

        @include screen-992-to-1199 {
            font-size: 22px;
            line-height: 26px;
        }

        @include screen-768 {
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
        }

        & a {
            color: inherit;
            font-size: inherit;

            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    &_price {
        @include displayFlex(flex, space-between, center, row);
        position: relative;
    }

    & .gm_pi01Price {
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
        color: var(--color-heading);
        @include displayFlex(inline-flex, space-between, center, row);
        margin-bottom: 24px;

        & ins {
            margin-right: 8px;
            text-decoration: none;
        }

        & del {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: var(--text-color);
        }
    }

    & .gm_offerPd_cnt {
        position: relative;
        @include displayFlex(flex, start, center, row);
        gap: 24px;

        @include screen-992-to-1199 {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 8px;
        }

        @include screen-768 {
            flex-wrap: wrap;
            gap: 8px;
            flex-direction: column;
            align-items: flex-start;
        }

        &>* {
            flex: 0 0 auto
        }

        & label {
            font-family: var(--body-font);
            color: var(--text-color);
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            line-height: 25.2px;
            letter-spacing: 0.05em;
            text-align: left;
            width: 75px;

            @include screen-992-to-1199 {
                width: unset;
            }

            @include screen-768 {
                width: unset;
                font-size: 16px;
            }
        }

        & .gm_countdown {
            & ul {
                padding: 7px 8px;
                background: transparent;
                border: 1px solid var(--secondary-color);
                transition: var(--transition-base);

                & li {
                    color: var(--secondary-color);
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 27px;
                    text-align: center;
                    padding: 0px 4px;
                    min-width: 38px;
                    transition: var(--transition-base);

                    & span {
                        font-size: 12px;
                        line-height: 16px;
                        text-transform: capitalize;
                    }
                }

                & .gm_timerSeparator {
                    padding: 6px;
                    min-width: 16px;

                    & span {
                        font-size: 18px;
                        background: transparent;
                    }
                }
            }
        }
    }

    &:hover {
        border-color: var(--secondary-color);

        & img:nth-child(1) {
            opacity: 0;
            visibility: hidden;
        }

        & img:nth-child(2) {
            opacity: 1;
            visibility: visible;
        }
    }
}

.gm_trendingItem_offer:hover {
    .gm_offerPd_cnt {
        .gm_countdown ul {
            background: var(--secondary-color);

            & li {
                color: var(--white-color);
                background: var(--secondary-color);
            }

            & .gm_timerSeparator {
                background: transparent;
            }
        }
    }
}