.my-32 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-32 {
    margin-bottom: 32px !important;
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.my-48 {
    margin-top: 48px;
    margin-bottom: 48px;
}

.mt-48 {
    margin-top: 48px;
}

.mb-48 {
    margin-bottom: 48px !important;
}

.my-64 {
    margin-top: 64px;
    margin-bottom: 64px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mt-60 {
    margin-top: 60px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mt-64 {
    margin-top: 64px;
}
.mb-64 {
    margin-bottom: 64px !important;

    @include large-screen {
        margin-bottom: 40px !important;
    }
}
.mt-80 {
    margin-top: 80px;
}

.pt-40 {
    padding-top: 40px;
}
.pb-40 {
    padding-bottom: 40px;
}
.py-72 {
    padding-top: 72px;
    padding-bottom: 72px;
}

.pt-72 {
    padding-top: 72px;
}

.pb-72 {
    padding-bottom: 72px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.py-96 {
    padding-top: 96px;
    padding-bottom: 96px;
}

.pt-96 {
    padding-top: 96px;
}

.pb-96 {
    padding-bottom: 96px;
}
.ptb-120 {
    padding: 120px 0;
    @include screen-768 {
        padding: 70px 0;
    }
}
.pt-120 {
    padding-top: 120px;
    @include screen-768 {
        padding-top: 70px;
    }
}
.pb-120 {
    padding-bottom: 120px;
    @include screen-768 {
        padding-bottom: 70px;
    }
}
.py-136 {
    padding-top: 136px;
    padding-bottom: 136px;

    @include large-screen {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.pt-136 {
    padding-top: 136px;

    @include large-screen {
        padding-top: 100px;
    }
}

.pb-136 {
    padding-bottom: 136px;

    @include large-screen {
        padding-bottom: 100px;
    }
}



// Gutter Customize 
.g-30,
.gx-30 {
    --bs-gutter-x: 30px;

    @include large-screen {
        --bs-gutter-x: 24px;
    }
}

.g-30,
.gy-30 {
    --bs-gutter-y: 30px;

    @include large-screen {
        --bs-gutter-y: 24px;
    }
}

.gy-40 {
    --bs-gutter-y: 40px;
}