.gm_hero_content_03 {
  position: relative; }
  .gm_hero_content_03 h2 {
    font-size: 96px;
    font-weight: 600;
    line-height: 115px;
    text-transform: uppercase;
    margin-bottom: 32px; }
  .gm_hero_content_03 p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 64px; }
